:root{
	--mainColor:#c0a3b2;
	--secondaryColor:#b17c84;

	--borderColor:#e5ccc9;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(233, 170, 205);
	--previewShadow:#a54562;


	--buttonColor:#a76f7f;


}
